{% extends 'base.html' %}
{% block titulo %}Crear Post {% endblock %}
{% block subtitulo %}Realiza las publicaciones en tus blogs de una forma fácil y rápida {% endblock %}
{% block contenido %}
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-body chart-responsive">
					<form action="" method="post">{% csrf_token %}
						
						<input type="hidden" id="id_adminblog" name="adminblog" value="1">

						<div {% if form.titulo.errors %}class="form-group has-error"{% else %}class="form-group"{% endif %} >
							<label class="control-label" for="id_titulo">
								{% if form.titulo.errors %}<i class="fa fa-times-circle-o"></i>{% endif %}
								Titulo
							</label>
							<input id="id_titulo" maxlength="100" name="titulo" type="text" class="form-control" placeholder="Ingresar titulo del post"/>
						</div>
						<div {% if form.descripcion.errors %}class="form-group has-error"{% else %}class="form-group"{% endif %} >
							<label class="control-label" for="id_descripcion">
								{% if form.descripcion.errors %}<i class="fa fa-times-circle-o"></i>{% endif %}
								Descripcion
							</label>
							<textarea id="id_descripcion" name="descripcion" rows="10" class="form-control" ></textarea>
						</div>
						<div {% if form.contenido.errors %}class="form-group has-error"{% else %}class="form-group"{% endif %} >
							<label class="control-label" for="id_contenido">
								{% if form.contenido.errors %}<i class="fa fa-times-circle-o"></i>{% endif %}
								Contenido
							</label>
							{{ form.contenido }}
						</div>
						<div class="pull-right">
							<input type="submit" class="btn btn-primary" value="Crear" />
					    </div>
					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}