{% extends 'base.html' %}
{% block titulo %}{{ blogs.nombre }} {% endblock %}
{% block subtitulo %}{{ blogs.descripcion }}{% endblock %}
{% block contenido %}

    <div class="row">                        
        <div class="col-md-8">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                {% for post in posts %}
                <li class="time-label">
                    <span class="bg-red">
                    	{{ post.fecha_crea|date:' b d, Y' }}
                    </span>
                </li>
                <li>
                    <i class="fa fa-check-square-o bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"> {{ post.adminblog.user }}</span>
                        <h3 class="timeline-header"><a href="{% url 'post_ver' post.id %}">{{ post.titulo }}</a> - {{ blogs.nombre }}</h3>
                        <div class="timeline-body">
                            {{ post.descripcion }}...
                        </div>
                        <div class='timeline-footer right'>
                            <a href="{% url 'post_ver' post.id %}" class="btn btn-primary btn-xs">Leer más...</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div><!-- /.col -->
        <div class="col-md-4">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Posts Recientes</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                {% for postsReciente in postsRecientes %}
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'post_ver' postsReciente.id %}" > {{ postsReciente.titulo }}</a></li>
                    </ul>
                {% endfor %}
            </div><!-- /.box -->
             <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Posts Más Comentados</h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                <!-- Contenidooooooooo -->

            </div><!-- /.box -->

        </div>


        </div><!-- /.row -->


{% endblock %}